<h1>Resource</h1>

<div class="btn-group pull-right" role="group">
  <%= link_to 'Edit', "/resources/#{@resource.id}/edit", class: "btn btn-info" %>
  <%= link_to "Delete", "/resources/#{@resource.id}", method: :delete, class: "btn btn-danger" %>
  <%= link_to 'Home', "/resources", class: "btn btn-info" %>
</div>




      <h2><%= @resource.name %></h2>
      <h3>Address: <%= @resource.location.display_address %></h3>
      <h3>Category: <%= @resource.categories %></h3>
      <h3>Rating: <%= @resource.rating %></h3>
      <h3>Phone Number: <%= @resource.phone %></h3

