<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>S.H.I.E.L.D.</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'skrollr.css' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'skrollr.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= yield %>
  
</body>
</html>